<div class="about_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="about_taital_main">
                    <h1 class="about_taital">About Us</h1>
                    <p class="about_text">At our adventure website, we're a team of passionate explorers dedicated to unlocking the thrill of discovery. We believe in making every moment count, offering a diverse range of expeditions that cater to both seasoned adventurers
                        and those new to the thrill of exploration. Join us as we journey through breathtaking landscapes, delve into vibrant cultures, and create memories that last a lifetime. Welcome to a world where every step is an extraordinary adventure.
                    </p>
                    <div class="readmore_bt"><a [routerLink]="['/about']">Read More</a></div>
                </div>
            </div>
            <div class="col-md-6 padding_right_2">
                <div><img src="../../assets/images/about1-img.png" class="about_img"></div>
            </div>
        </div>
    </div>
</div>