<div class="services_section layout_padding">
    <div class="container">
        <h1 class="services_taital">Services </h1>
        <p class="services_text">An adventure website offers a plethora of exciting and awe-inspiring experiences, from thrilling outdoor activities to immersive cultural explorations. With a range of meticulously designed packages and expert guides, it ensures every adventurer's
            journey is truly exceptional and unforgettable.</p>
        <div class="services_section_2">
            <div class="row">
                <div class="col-md-4">
                    <div><img src="../../assets/images/img-1.png" class="services_img"></div>
                    <div class="btn_main"><a href="services.html">Rafting</a></div>
                </div>
                <div class="col-md-4">
                    <div><img src="../../assets/images/img-2.png" class="services_img"></div>
                    <div class="btn_main active"><a href="services.html">Hiking</a></div>
                </div>
                <div class="col-md-4">
                    <div><img src="../../assets/images/img-3.png" class="services_img"></div>
                    <div class="btn_main"><a [routerLink]="['/services']">Camping</a></div>
                </div>
            </div>
        </div>
    </div>
</div>