<div class="services_section layout_padding">
    <div class="container">
        <h1 class="services_taital">Services </h1>
        <p class="services_text">An adventure website offers a plethora of exciting and awe-inspiring experiences, from thrilling outdoor activities to immersive cultural explorations. With a range of meticulously designed packages and expert guides, it ensures every adventurer's
            journey is truly exceptional and unforgettable.</p>
        <div class="services_section_2">
            <div class="row">
                <div class="col-md-4">
                    <div><img src="../../assets/images/img-1.png" class="services_img"></div>
                    <div class="btn_main"><a href="services.html">Rafting</a></div>
                </div>
                <div class="col-md-4">
                    <div><img src="../../assets/images/img-2.png" class="services_img"></div>
                    <div class="btn_main active"><a href="services.html">Hiking</a></div>
                </div>
                <div class="col-md-4">
                    <div><img src="../../assets/images/img-3.png" class="services_img"></div>
                    <div class="btn_main"><a href="services.html">Camping </a></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="about_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="about_taital_main">
                    <h1 class="about_taital">About Us</h1>
                    <p class="about_text">At our adventure website, we're a team of passionate explorers dedicated to unlocking the thrill of discovery. We believe in making every moment count, offering a diverse range of expeditions that cater to both seasoned adventurers
                        and those new to the thrill of exploration. Join us as we journey through breathtaking landscapes, delve into vibrant cultures, and create memories that last a lifetime. Welcome to a world where every step is an extraordinary adventure.
                    </p>
                    <div class="readmore_bt"><a href="about.html">Read More</a></div>
                </div>
            </div>
            <div class="col-md-6 padding_right_2">
                <div><img src="../../assets/images/about1-img.png" class="about_img"></div>
            </div>
        </div>
    </div>
</div>


<div class="blog_section layout_padding">
    <div class="container">
        <h1 class="blog_taital">See Our Video</h1>
        <p class="blog_text">Witness the world through my captivating videos, where ordinary moments transform into extraordinary experiences.</p>
        <div class="play_icon_main">
            <div class="play_icon">
                <a href="#"><img src="../../assets/images/play-icon.png"></a>
            </div>
        </div>
    </div>
</div>


<div class="client_section layout_padding">
    <div class="container">
        <h1 class="client_taital">Testimonial</h1>
        <div class="client_section_2">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="client_main">
                            <div class="box_left">
                                <p class="lorem_text">Unforgettable doesn't even begin to describe the adventure I had with this website. From heart-pounding hikes to cultural immersion, every moment was curated to perfection. They turned my dream into reality.</p>
                            </div>
                            <div class="box_right">
                                <div class="client_taital_left">
                                    <div class="client_img"><img src="../../assets/images/client-img2.png"></div>
                                    <div class="quick_icon"><img src="../../assets/images/quick-icon.png"></div>
                                </div>
                                <div class="client_taital_right">
                                    <h4 class="client_name">Tony Stark</h4>
                                    <p class="customer_text">Customer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="client_main">
                            <div class="box_left">
                                <p class="lorem_text">As an avid traveler, I've seen it all, but the experiences I had through this adventure website were on a whole new level. Professionalism, excitement, and authenticity blended seamlessly for an unparalleled journey.</p>
                            </div>
                            <div class="box_right">
                                <div class="client_taital_left">
                                    <div class="client_img"><img src="../../assets/images/client-img1.png"></div>
                                    <div class="quick_icon"><img src="../../assets/images/quick-icon.png"></div>
                                </div>
                                <div class="client_taital_right">
                                    <h4 class="client_name">Rosy</h4>
                                    <p class="customer_text">Customer 2</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="client_main">
                            <div class="box_left">
                                <p class="lorem_text">I was hesitant at first, but booking with this adventure website was the best decision. Their team's dedication and the connections I made with fellow adventurers made every second truly exceptional. Can't wait to return!</p>
                            </div>
                            <div class="box_right">
                                <div class="client_taital_left">
                                    <div class="client_img"><img src="../../assets/images/client-img.png"></div>
                                    <div class="quick_icon"><img src="../../assets/images/quick-icon.png"></div>
                                </div>
                                <div class="client_taital_right">
                                    <h4 class="client_name">Rocky</h4>
                                    <p class="customer_text">Customer 3</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="choose_section layout_padding">
    <div class="container">
        <h1 class="choose_taital">Why Choose Us</h1>
        <p class="choose_text">Choose us for your adventure needs because we're not just another platform; we're a gateway to extraordinary experiences tailored to your passions, led by experts who share your enthusiasm for exploration. With our commitment to safety, sustainability,
            and creating memories, you're not just a traveler – you're an integral part of our adventure community. </p>
        <div class="read_bt_1"><a href="#">Read More</a></div>
        <div class="newsletter_box">
            <h1 class="let_text">Let Start Talk with Us</h1>
            <div class="getquote_bt"><a [routerLink]="['/contactus']">Contact</a></div>
        </div>
    </div>
</div>